<div class="row m-t-lg text-center">
    {% if form is defined and is_granted('ROLE_ADMIN') %}
        {{ form_start(form) }}
    {% endif %}
    <div class="col-xs-6">
        <h1 class="text-right">
            {% if is_granted('ROLE_ADMIN') %}
                {% if myVote %}
                    <span class="m-r-md {% if myVote.accepted %}text-info{% else %}text-muted{% endif %}"
                          data-toggle="tooltip" data-placement="left"
                          title="{% for vote in article.acceptedVotes %}{{ vote.user.email }} {% endfor %}">
                        <span>{{ article.acceptedVotes|length }}</span>
                        <i class="fa fa-thumbs-up"></i>
                    </span>
                {% else %}
                    <a id="article_vote_accept" class="m-r-md">
                        <span>{{ article.acceptedVotes|length }}</span>
                        <i class="fa fa-thumbs-up"></i>
                    </a>
                {% endif %}
            {% else %}
                <span class="m-l-md {% if article.acceptedVotes|length >= article.refusedVotes|length and article.acceptedVotes|length > 0 %}text-info{% endif %}">
                    <span>{{ article.acceptedVotes|length }}</span>
                    <i class="fa fa-thumbs-up"></i>
                </span>
            {% endif %}
        </h1>
    </div>
    <div class="col-xs-6">
        <h1 class="text-left">
            {% if is_granted('ROLE_ADMIN') %}
                {% if myVote %}
                    <span class="m-l-md {% if not myVote.accepted %}text-danger{% else %}text-muted{% endif %}"
                          data-toggle="tooltip" data-placement="right"
                          title="{% for vote in article.refusedVotes %}{{ vote.user.email }} {% endfor %}">
                        <span>{{ article.refusedVotes|length }}</span>
                        <i class="fa fa-thumbs-down"></i>
                    </span>
                {% else %}
                    <a id="article_vote_refuse" class="m-l-md">
                        <span>{{ article.refusedVotes|length }}</span>
                        <i class="fa fa-thumbs-down"></i>
                    </a>
                {% endif %}
            {% else %}
                <span class="m-l-md">
                    <span>{{ article.refusedVotes|length }}</span>
                    <i class="fa fa-thumbs-down"></i>
                </span>
            {% endif %}
        </h1>
    </div>
    {% if form is defined and is_granted('ROLE_ADMIN') %}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% endif %}
</div>

{% if form is defined and is_granted('ROLE_ADMIN') %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('[name="app_article_vote"] #article_vote_accept').click(function () {
                var $form = $(this).closest('form');
                var $input = $form.find('#app_article_vote_isAccepted');

                $input.val(1);
                $form.submit();
            });
            $('[name="app_article_vote"] #article_vote_refuse').click(function () {
                var $form = $(this).closest('form');
                var $input = $form.find('#app_article_vote_isAccepted');

                $input.val(0);
                $form.submit();
            });
        });
    </script>
{% endif %}