{% extends 'AppBundle::base.html.twig' %}

{% block title parent() ~ ' - ' ~ 'suggestions.add.title'|trans %}

{% block nav %}
    <h2>{{ 'suggestions.add.title'|trans }}</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('home') }}">{{ 'home.title'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('get_suggestions') }}">{{ 'suggestions.title'|trans }}</a>
        </li>
        <li class="active">
            <strong>{{ 'suggestions.add.title'|trans }}</strong>
        </li>
    </ol>
{% endblock %}

{% block action %}
    <a href="{{ path('get_articles') }}" class="btn btn-default">{{ 'suggestions.add.action.cancel'|trans }}</a>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ 'suggestions.add.title'|trans }}</h5>
                </div>
                <div class="ibox-content">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_errors(form.category) }}
                        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'entity.suggestion.description.placeholder'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.file) }}
                        {{ form_widget(form.file) }}
                    </div>
                    <button type="submit"
                            class="btn btn-primary block full-width m-b">{{ 'suggestions.add.action.submit'|trans }}</button>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
