{% extends 'AppBundle::base.html.twig' %}

{% block title parent() ~ ' - Articles' %}

{% block nav %}
    <h2>{{ 'articles.title'|trans }}</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('home') }}">{{ 'home.title'|trans }}</a>
        </li>
        <li class="active">
            <strong>{{ 'articles.title'|trans }}</strong>
        </li>
    </ol>
{% endblock %}

{% block action %}
    <a href="{{ path('post_articles') }}" class="btn btn-primary">{{ 'articles.action.add'|trans }}</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ 'articles.list.title'|trans }}</h5>
                </div>
                <div class="ibox-content">
                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                            {% for article in articles %}
                                <tr>
                                    <td class="col-xs-1">
                                        {% if article.status.label == 'article.status.pending' %}
                                            <span class="label label-warning">{{ article.status.label|trans }}</span>
                                        {% elseif article.status.label == 'article.status.accepted' %}
                                            <span class="label label-info">{{ article.status.label|trans }}</span>
                                        {% else %}
                                            <span class="label label-default">{{ article.status.label|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="project-title">
                                        <div class="col-xs-1">
                                            <img class="img-circle" src="{{ gravatar(article.user.email) }}"
                                                 title="{{ article.user.email }}" alt="{{ article.user.email }}"/>
                                        </div>
                                        <div class="col-xs-11">
                                            <a href="{{ path('get_article', {id: article.id}) }}">{{ article.title }}</a>
                                            <br>
                                            <small>{{ article.category.label }}</small>
                                        </div>
                                    </td>
                                    <td class="text-center col-xs-1" nowrap>
                                        <span class="{% if article.acceptedVotes|length >= article.refusedVotes|length and article.acceptedVotes|length > 0 %}text-info{% endif %}">
                                            <i class="fa fa-thumbs-up m-r-xs"></i>
                                            {{ article.acceptedVotes|length }}
                                        </span>
                                        <span class="m-l-md {% if article.refusedVotes|length >= article.acceptedVotes|length and article.refusedVotes|length > 0 %}text-danger{% endif %}">
                                            <i class="fa fa-thumbs-down m-r-xs"></i>
                                            {{ article.refusedVotes|length }}
                                        </span>
                                    </td>
                                    <td class="text-right col-xs-1">
                                        <a class="btn btn-default btn-sm"
                                           href="{{ path('get_article', {id: article.id}) }}">{{ 'articles.list.action.view'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
